#title{
    background-color: #ff4c68;
}
.heading{
    font-family: 'Montserrat';
    color: #fff;
    line-height: 1.5;
    font-size: 3.5rem;
}
.container-fluid{
    padding: 3% 15% 7%;
}
body{
    font-family: 'Montserrat';
}
/* Navigation_bar */
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar{
    padding-bottom: 2.5rem;
}
.navbar-item{
    font-family: 'Ubuntu';
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Ubuntu';
}
/* Donwload Buttons */
.download-button{
    margin: 5% 3% 5% 0%;
    font-family: 'Ubuntu';
    font-weight: bolder;
}
/* Title-Image */
.title-image{
    width: 20%;
    transform:rotate(25deg);
    position: absolute;
    right: 30%;
}
/* Title image */
#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.p22{ 
    font-family: Ubuntu;
    font-weight: 800;
    color: #8f8f8f;
}
.icon1{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon1:hover{
    color: #ff4c78;
}
/* Testimonials */
#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
h2{
    font-size: 3rem;
    line-height: 1.5;
}
.testi-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.imageico{
    width: 15%;
    margin: 20px 20px 50px;
}
/* cards */
.card1{
   padding: 3% 2%;
}
.card2{
    padding: 3% 2%;
}
.card3{
    padding: 3% 2%;
}
#pricing{
    padding: 100px;
    text-align: center;
    position: flex;
    justify-content: space-around;
}
/* Cta section */
#cta{
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}
.cta-heading{
    font-size: 3.5rem;
    font-family: 'Montserrat';
    line-height: 1.5;
}
.bt-ft1{
    margin: 1%;
}
.bt-ft2{
    margin: 1%;
}
.card-maal{
    padding-bottom: 38px;
}
/* Social Icons */
.social-icon{
    margin: 20px 10px;
    text-align: center;
}
#footer{
    padding: 7% 15%;
    text-align: center;
}